.admin-dashboard-header{
  background-color: #2a2b2d;
}

.admin-dashboard-welcome{
  font-size: 14pt;
  padding-left: 10%;
  padding-right: 10%;
  font-style:  italic;
  color: #c6c9ce;
}

.admin-dashboard-tiles-div{
  padding-top: 10px;
  margin-left: 10%;
  margin-right: 10%;
  height: 200px;
}

.admin-dashboard-tile-car{
  width : 20%;
  height: 200px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #f0def7;
  text-align: center;
  color: #a852a1;
    font-family: Lucida Console;
  font-style: normal;
}

.admin-dashboard-tile-flight{
  width : 20%;
  height: 200px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #c2dfef;
  text-align: center;
  color: #5393cc;
  font-family: Lucida Console;
  font-style: normal;
}

.admin-dashboard-tile-hotel{
  width : 20%;
  height: 200px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #add1b8;
  text-align: center;
  color: #19c413;
    font-family: Lucida Console;
  font-style: normal;

}

.admin-dashboard-tile-users{
  width : 20%;
  height: 200px;
  display: inline-block;
  margin-left: 20px;
  margin-right: 20px;
  background-color: #e5e5a0;
  text-align: center;
  color: #82820a;
    font-family: Lucida Console;
  font-style: normal;

}

.admin-dashboard-graph{
  margin-top: 30px;
  margin-left: 10%;
  margin-right: 10%;
  height: 400px;
  background-color: #e5e5e0;
}
